### Data analysis of Airbnb NYC 2019 data set
### 20220329

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# %matplotlib inline
# plt.style.use(‘seaborn-dark-palette’)
# from scipy import stats
# import datetime as dt
# import plotly
# import plotly.express as px

In [2]:
# Ignore warnings

# import warnings
# warnings.filterwarnings(“ignore”)
# pd.set_option(‘display.max_columns’, None)
# pd.set_option(‘display.max_rows’, None)

Loading data

In [2]:
airbnb = pd.read_csv("AirbnbNYC2019.csv")

Previewing data

In [12]:
airbnb

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

Per my assessment, I came to a conclusion that columns "name" and "host_name" won't be useful in my analysis. That said, I will remove these two columns.

In [4]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [5]:
airbnb = airbnb[['id', 'host_id', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365']]

In [7]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   neighbourhood_group             48895 non-null  object
 3   neighbourhood                   48895 non-null  object
 4   latitude                        48895 non-null  float64
 5   longitude                       48895 non-null  float64
 6   room_type                       48895 non-null  object
 7   price                           48895 non-null  int64
 8   minimum_nights                  48895 non-null  int64
 9   number_of_reviews               48895 non-null  int64
 10  last_review                     38843 non-null  object
 11  reviews_per_month               38843 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(4)
memory usage: 5.2+ MB

In [18]:
airbnb.nunique()

id                                48895
host_id                           37457
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

Converting dtypes

id, host_id: These columns are int64 but won't be used for any math calculations so I will convert them to string.

neighbourhood_group, neighbourhood: These columns are object but I will convert them to string because they are names.

latitude, longitude: float16 can handle these numbers so I will change them from float64 to float16.

room_type: This is object and has only 3 distinct values so I will convert to category

price: Price can be a few thousands $ at the most so I will convert it from int64 to int16.

minimum_nights: This also an int16 can handle well so I will convert it from int64 to int16.

number_of_reviews: This doesn't need an int64 so will convert it to int16 which is enough for this variable.

last_review: This is object instead of date so will convert it to datetime64.

reviews_per_month: I will convert this from float64 to float16.

calculated_host_listings_count: I will convert this from int64 to int16 because # of listings/host can't be huge.

availability_365: I will convert this from int64 to int16 because it can't be larger than 366.

In [27]:
airbnb = airbnb.astype({'id':'string',
                        'host_id':'string',
                        'neighbourhood_group':'string',
                        'neighbourhood':'string',
                        'latitude':'float16',
                        'longitude':'float16',
                        'room_type':'category',
                        'price':'int16',
                        'minimum_nights':'int16',
                        'number_of_reviews':'int16',
                        'last_review':'datetime64',
                        'reviews_per_month':'float16',
                        'calculated_host_listings_count':'int16',
                        'availability_365':'int16'
                        })

In [28]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  string
 1   host_id                         48895 non-null  string
 2   neighbourhood_group             48895 non-null  string
 3   neighbourhood                   48895 non-null  string
 4   latitude                        48895 non-null  float16
 5   longitude                       48895 non-null  float16
 6   room_type                       48895 non-null  category
 7   price                           48895 non-null  int16
 8   minimum_nights                  48895 non-null  int16
 9   number_of_reviews               48895 non-null  int16
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float16
 12  calculated_host_listings_count  48895 non-null  int16
 13  availability_365                48895 non-null  int16
dtypes: category(1), datetime64[ns](1), float16(3), int16(5), string(4)
memory usage: 2.7 MB

By changing the data types, I have reduced the size of airbnb dataframe from 5.2 MB to 2.7 MB which is almost 50% reduction.

In [29]:
airbnb.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48895.0000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,inf,-inf,152.720687,7.029962,23.274466,1.372070,7.143982,112.781327
std,5.590820e-02,0.0513,240.154170,20.510550,44.550582,1.680664,32.952519,131.622289
min,4.050000e+01,-74.2500,0.000000,1.000000,0.000000,0.010002,1.000000,0.000000
25%,4.068750e+01,-74.0000,69.000000,1.000000,1.000000,0.189941,1.000000,0.000000
50%,4.071875e+01,-73.9375,106.000000,3.000000,5.000000,0.720215,1.000000,45.000000
75%,4.075000e+01,-73.9375,175.000000,5.000000,24.000000,2.019531,2.000000,227.000000
max,4.090625e+01,-73.6875,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [30]:
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.65625,-74.0000,Private room,149,1,9,2018-10-19,0.209961,6,365
1,2595,2845,Manhattan,Midtown,40.75000,-74.0000,Entire home/apt,225,1,45,2019-05-21,0.379883,2,355
2,3647,4632,Manhattan,Harlem,40.81250,-73.9375,Private room,150,3,0,NaT,NaN,1,365

In [34]:
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day,day_name
0,2539,2787,Brooklyn,Kensington,40.65625,-74.0000,Private room,149,1,9,2018-10-19,0.209961,6,365,2018.0,10.0,19.0,Friday
1,2595,2845,Manhattan,Midtown,40.75000,-74.0000,Entire home/apt,225,1,45,2019-05-21,0.379883,2,355,2019.0,5.0,21.0,Tuesday
2,3647,4632,Manhattan,Harlem,40.81250,-73.9375,Private room,150,3,0,NaT,NaN,1,365,NaN,NaN,NaN,NaN

In [35]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  string
 1   host_id                         48895 non-null  string
 2   neighbourhood_group             48895 non-null  string
 3   neighbourhood                   48895 non-null  string
 4   latitude                        48895 non-null  float16
 5   longitude                       48895 non-null  float16
 6   room_type                       48895 non-null  category
 7   price                           48895 non-null  int16
 8   minimum_nights                  48895 non-null  int16
 9   number_of_reviews               48895 non-null  int16
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float16
 12  calculated_host_listings_count  48895 non-null  int16
 13  availability_365                48895 non-null  int16
 14  year                            38843 non-null  float64
 15  month                           38843 non-null  float64
 16  day                             38843 non-null  float64
 17  day_name                        38843 non-null  object
dtypes: category(1), datetime64[ns](1), float16(3), float64(3), int16(5), object(1), string(4)
memory usage: 4.2+ MB

In [41]:
# Separating year, month, day and day_name from date and changing their types to proper data types.
airbnb['year'] = airbnb['last_review'].dt.year.astype('float16')
airbnb['month'] = airbnb['last_review'].dt.month.astype('float16')
airbnb['day'] = airbnb['last_review'].dt.day.astype('float16')
airbnb['day_name'] = airbnb['last_review'].dt.day_name().astype('string')

In [42]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  string
 1   host_id                         48895 non-null  string
 2   neighbourhood_group             48895 non-null  string
 3   neighbourhood                   48895 non-null  string
 4   latitude                        48895 non-null  float16
 5   longitude                       48895 non-null  float16
 6   room_type                       48895 non-null  category
 7   price                           48895 non-null  int16
 8   minimum_nights                  48895 non-null  int16
 9   number_of_reviews               48895 non-null  int16
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float16
 12  calculated_host_listings_count  48895 non-null  int16
 13  availability_365                48895 non-null  int16
 14  year                            38843 non-null  float16
 15  month                           38843 non-null  float16
 16  day                             38843 non-null  float16
 17  day_name                        38843 non-null  string
dtypes: category(1), datetime64[ns](1), float16(6), int16(5), string(5)
memory usage: 3.3 MB

Exploring data (manipulation)

In [43]:
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day,day_name
0,2539,2787,Brooklyn,Kensington,40.65625,-74.0000,Private room,149,1,9,2018-10-19,0.209961,6,365,2018.0,10.0,19.0,Friday
1,2595,2845,Manhattan,Midtown,40.75000,-74.0000,Entire home/apt,225,1,45,2019-05-21,0.379883,2,355,2019.0,5.0,21.0,Tuesday
2,3647,4632,Manhattan,Harlem,40.81250,-73.9375,Private room,150,3,0,NaT,NaN,1,365,NaN,NaN,NaN,<NA>

In [48]:
# selecting all numeric columns
airbnb_num = airbnb.select_dtypes(include = 'number').columns
airbnb_num

Index(['latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'year', 'month', 'day'],
      dtype='object')

In [49]:
# selecting all non-numeric columns
airbnb_no_num = airbnb.select_dtypes(exclude = 'number').columns
airbnb_no_num

Index(['id', 'host_id', 'neighbourhood_group', 'neighbourhood', 'room_type',
       'last_review', 'day_name'],
      dtype='object')