## Data analysis of Airbnb NYC 2019 data set
### 20220329

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# %matplotlib inline
# plt.style.use(‘seaborn-dark-palette’)
# from scipy import stats
# import datetime as dt
# import plotly
# import plotly.express as px

In [2]:
# Ignore warnings

import warnings
warnings.filterwarnings('ignore')
# pd.set_option(‘display.max_columns’, None)
# pd.set_option(‘display.max_rows’, None)

#### Loading data

In [3]:
airbnb = pd.read_csv("AirbnbNYC2019.csv")

#### Reviewing data

In [4]:
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [5]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

"name" column in this data has short description / comment about the property which is of not much use for the analysis so I will remove this column.

"host_name" column contains names of the property owners and "host_id" contains IDs of the owners. I need only one column so will remove "host_name" column.

In [6]:
# columns with the original dataset

airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [7]:
# columns after removing "name" and "host_name" columns

airbnb = airbnb[['id', 'host_id', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365']]

In [8]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   neighbourhood_group             48895 non-null  object
 3   neighbourhood                   48895 non-null  object
 4   latitude                        48895 non-null  float64
 5   longitude                       48895 non-null  float64
 6   room_type                       48895 non-null  object
 7   price                           48895 non-null  int64
 8   minimum_nights                  48895 non-null  int64
 9   number_of_reviews               48895 non-null  int64
 10  last_review                     38843 non-null  object
 11  reviews_per_month               38843 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(4)
memory usage: 5.2+ MB

In [9]:
airbnb.nunique()

id                                48895
host_id                           37457
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

#### Converting dtypes: Most of the columns do not have proper data types so I will convert the data types of these columns

* id, host_id: These columns are int64 but won't be used for any math calculations so I will convert them to string.

* neighbourhood_group, neighbourhood: These columns are object but I will convert them to string because they are names.

* latitude, longitude: float16 can handle these numerical data so I will change them from float64 to float16.

* room_type: This is object and has only 3 distinct values so I will convert to category

* price: Price can be a few thousands $ at the most so I will convert it from int64 to int16.

* minimum_nights: int16 can handle this data so I will convert it from int64 to int16.

* number_of_reviews: This doesn't need an int64 so will convert it to int16 which is enough for this parameter.

* last_review: This is object instead of date so will convert it to datetime64.

* reviews_per_month: float16 can accomodate data in this column so I will convert it from float64 to float16.

* calculated_host_listings_count: int16 can accomodate listings/host so I will convert it from int64 to int16.

* availability_365: I will convert this from int64 to int16 because it can't be larger than 366 and int16 would be OK.

In [10]:
# Cconverting dtypes

airbnb = airbnb.astype({'id':'string',
                        'host_id':'string',
                        'neighbourhood_group':'string',
                        'neighbourhood':'string',
                        'latitude':'float16',
                        'longitude':'float16',
                        'room_type':'category',
                        'price':'int16',
                        'minimum_nights':'int16',
                        'number_of_reviews':'int16',
                        'last_review':'datetime64',
                        'reviews_per_month':'float16',
                        'calculated_host_listings_count':'int16',
                        'availability_365':'int16'
                        })

In [11]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  string
 1   host_id                         48895 non-null  string
 2   neighbourhood_group             48895 non-null  string
 3   neighbourhood                   48895 non-null  string
 4   latitude                        48895 non-null  float16
 5   longitude                       48895 non-null  float16
 6   room_type                       48895 non-null  category
 7   price                           48895 non-null  int16
 8   minimum_nights                  48895 non-null  int16
 9   number_of_reviews               48895 non-null  int16
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float16
 12  calculated_host_listings_count  48895 non-null  int16
 13  availability_365                48895 non-null  int16
dtypes: category(1), datetime64[ns](1), float16(3), int16(5), string(4)
memory usage: 2.7 MB

By changing the data types, I have reduced the size of airbnb dataframe from 6.0 MB to 2.7 MB which is more than 50% reduction.

In [12]:
airbnb.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48895.0000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,inf,-inf,152.720687,7.029962,23.274466,1.372070,7.143982,112.781327
std,5.590820e-02,0.0513,240.154170,20.510550,44.550582,1.680664,32.952519,131.622289
min,4.050000e+01,-74.2500,0.000000,1.000000,0.000000,0.010002,1.000000,0.000000
25%,4.068750e+01,-74.0000,69.000000,1.000000,1.000000,0.189941,1.000000,0.000000
50%,4.071875e+01,-73.9375,106.000000,3.000000,5.000000,0.720215,1.000000,45.000000
75%,4.075000e+01,-73.9375,175.000000,5.000000,24.000000,2.019531,2.000000,227.000000
max,4.090625e+01,-73.6875,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [13]:
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.65625,-74.0000,Private room,149,1,9,2018-10-19,0.209961,6,365
1,2595,2845,Manhattan,Midtown,40.75000,-74.0000,Entire home/apt,225,1,45,2019-05-21,0.379883,2,355
2,3647,4632,Manhattan,Harlem,40.81250,-73.9375,Private room,150,3,0,NaT,NaN,1,365

For time series analysis there is only last_review column whch won't be much useful so I am adding year, month, day
and day_name columns after extracting them from the last_review column. I am also changing the data types of these
new columns.

In [14]:
airbnb['year'] = airbnb['last_review'].dt.year.astype('float16')
airbnb['month'] = airbnb['last_review'].dt.month.astype('float16')
airbnb['day'] = airbnb['last_review'].dt.day.astype('float16')
airbnb['day_name'] = airbnb['last_review'].dt.day_name().astype('string')

In [15]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  string
 1   host_id                         48895 non-null  string
 2   neighbourhood_group             48895 non-null  string
 3   neighbourhood                   48895 non-null  string
 4   latitude                        48895 non-null  float16
 5   longitude                       48895 non-null  float16
 6   room_type                       48895 non-null  category
 7   price                           48895 non-null  int16
 8   minimum_nights                  48895 non-null  int16
 9   number_of_reviews               48895 non-null  int16
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float16
 12  calculated_host_listings_count  48895 non-null  int16
 13  availability_365                48895 non-null  int16
 14  year                            38843 non-null  float16
 15  month                           38843 non-null  float16
 16  day                             38843 non-null  float16
 17  day_name                        38843 non-null  string
dtypes: category(1), datetime64[ns](1), float16(6), int16(5), string(5)
memory usage: 3.3 MB

#### Exploring data (manipulation)

In [16]:
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day,day_name
0,2539,2787,Brooklyn,Kensington,40.65625,-74.0000,Private room,149,1,9,2018-10-19,0.209961,6,365,2018.0,10.0,19.0,Friday
1,2595,2845,Manhattan,Midtown,40.75000,-74.0000,Entire home/apt,225,1,45,2019-05-21,0.379883,2,355,2019.0,5.0,21.0,Tuesday
2,3647,4632,Manhattan,Harlem,40.81250,-73.9375,Private room,150,3,0,NaT,NaN,1,365,NaN,NaN,NaN,<NA>

In [17]:
# selecting all numeric columns
airbnb_num = airbnb.select_dtypes(include = 'number').columns
airbnb_num

Index(['latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'year', 'month', 'day'],
      dtype='object')

In [18]:
# selecting all non-numeric columns
airbnb_no_num = airbnb.select_dtypes(exclude = 'number').columns
airbnb_no_num

Index(['id', 'host_id', 'neighbourhood_group', 'neighbourhood', 'room_type',
       'last_review', 'day_name'],
      dtype='object')

In [19]:
# Analyzing numerical values
airbnb.select_dtypes(include = 'number').describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day
count,4.889500e+04,48895.0000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000,38843.00000,38843.00000,3.884300e+04
mean,inf,-inf,152.720687,7.029962,23.274466,1.372070,7.143982,112.781327,inf,inf,inf
std,5.590820e-02,0.0513,240.154170,20.510550,44.550582,1.680664,32.952519,131.622289,1.21582,2.53125,9.882812e+00
min,4.050000e+01,-74.2500,0.000000,1.000000,0.000000,0.010002,1.000000,0.000000,2011.00000,1.00000,1.000000e+00
25%,4.068750e+01,-74.0000,69.000000,1.000000,1.000000,0.189941,1.000000,0.000000,2018.00000,5.00000,6.000000e+00
50%,4.071875e+01,-73.9375,106.000000,3.000000,5.000000,0.720215,1.000000,45.000000,2019.00000,6.00000,1.700000e+01
75%,4.075000e+01,-73.9375,175.000000,5.000000,24.000000,2.019531,2.000000,227.000000,2019.00000,7.00000,2.400000e+01
max,4.090625e+01,-73.6875,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000,2019.00000,12.00000,3.100000e+01

In [20]:
# Analyzing categorical values
airbnb.select_dtypes(exclude = 'number').describe()

,id,host_id,neighbourhood_group,neighbourhood,room_type,last_review,day_name
count,48895,48895,48895,48895,48895,38843,38843
unique,48895,37457,5,221,3,1764,7
top,2539,219517861,Manhattan,Williamsburg,Entire home/apt,2019-06-23 00:00:00,Sunday
freq,1,327,21661,3920,25409,1413,9382
first,NaN,NaN,NaN,NaN,NaN,2011-03-28 00:00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,2019-07-08 00:00:00,NaN

#### Cleaning data